@media(min-width: 650px) {
    .nowCardsContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    #lessonsList {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    #nextLessonsNowCard {
        grid-column: 1;
        grid-row: 1 / -1;
    }

    #notesNowCard {
        grid-column: 2;
    }
}